html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
*,*:before,*:after {
  box-sizing: inherit;
}

.bold {
  font-weight: bold;
}
/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
header .logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  height: 32px;
  text-transform: uppercase;
}

nav {
  margin-right: 24px;
}
nav ul li {
  display: inline-block;
  margin-left: 16px;
}

/* Banner Section */
.banner {
  background-color: #ABABA8;
  display: flex;
  align-items: center;

}

.headline-image {
    margin: 32px 24px;
    width: 60%;
}
.headline-content {
line-height: 1.2;
width: 25%;
}
.headline-content h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.headline-content p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.headline-content .btn {
  background-color: #3B3B3A;
  color: white;
  padding: 8px 35%;
}
