html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
*,*:before,*:after {
  box-sizing: inherit;
}

.bold {
  font-weight: bold;
}
/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
header .logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  height: 32px;
  text-transform: uppercase;
}

nav {
  margin-right: 24px;
}
nav ul li {
  display: inline-block;
  margin-left: 16px;
}

/* Banner Section */
.banner {
  background-color: #BFBFBC;
  display: flex;
  align-items: center;

}

.headline-image {
    margin: 32px 24px;
    width: 60%;
}
.headline-content {
line-height: 1.2;
width: 25%;
}
.headline-content h2 {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
.headline-content p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
.headline-content .btn {
  background-color: #3B3B3A;
  color: white;
  padding: 8px 35%;
}

/* Learning Section */
/* Learning left */
.info-main {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;


}
.first-left {
  margin-left: 24px;
  margin-right: 24px;
  max-width: 60%;
}

.main-content-left h1 {
  margin: 32px 0 24px 0;
  font-size: 3.5rem;
  font-weight: bold;
}
.main-content-left p {
  font-size: 1.3rem;
  line-height: 1.4;
}
.main-content-left .quote {
  margin-top: 40px;
}
/* Learning right */
.info-right {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.info-column {
  display: flex;
  align-items: center;
}
.info-image {
  padding: 16px 16px;

}
.column-content {
  max-width: 65%;
  line-height: 1.4;
}
.column-content h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.column-content p {
  font-size: 1rem;
  margin-bottom: 8px;
}
.column-content a {
  text-decoration: none;
}
.guest {
  background-color: #ABABA8;
}

/* Start learning Section */
.courses {
  background-color: #BFBFBC;
}
.courses h1 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 32px;
}
.course-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 32px 72px;
}
.course-column {
  flex: 1;
  margin-bottom: 32px;
  margin-right: 32px;
  background-color: white;
}
.course-image img {
  max-width: 100%;
  height: auto;
}
.course-content {
  margin: 16px 0px 24px 16px;

}
.course-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.course-content p {
  line-height: 1.4;
}
.course-category {
  margin: 8px 0;
  text-transform: uppercase;
}

/* Exhibit Section */

.exhibit-content {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.exhibit h1 {
  text-align: center;
  font-size: 2.3rem;
  font-size: bold;
  margin-top: 32px;
}
/* Exhibit left Section */
.exhibit-left {
max-width: 60%;
margin: 0 24px 32px 24px;
}
.exhibit-left video {
  max-width: 100%;
  height: auto;
}
.exhibit-left h3 {
  font-size: 1.9rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
}
.exhibit-left p {

  line-height: 1.4;
}
/* Exhibit right section */
.exhibit-right {
max-width: 40%;

}
.exhibit-col {
  display: flex;
  align-items: center;
  padding: 16px 0 16px 16px;


}
.exhibit-col.first {
  background-color: #ABABA8;
}
.col-image {
  height: auto;
  max-width: 35%;
  margin-right: 16px;
}
.col-image img {
  width: 100%;
  height: auto;
}
.col-content {
  max-width: 65%;
  line-height: 1.5;
}
.col-content h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

/* Footer Section */
footer {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  margin-bottom: 32px;

}
